<div class='navbar'>
  <%= link_to '', root_path, :class => 'back-button fa fa-arrow-left' %>
  New superhero
</div>

<div class="newhero-container">
  <p>
    Add a new hero to the database, it can be ANYONE or ANYTHING that you consider a hero/superhero!
  </p>
  <%= render 'form' %>
</div>
